@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    background-image: url('https://i.pinimg.com/474x/3d/24/b7/3d24b740ad21a9b24b8835b4fdcc544c.jpg');
    font-family: "Madimi One", sans-serif;
    margin: 0;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: #f782dd62;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    text-shadow: 2px 2px #fff;
}

h2 {
    color: #f782dd62;
    border-bottom: 2px dashed #f782dd62 ;
    padding-bottom: 5px;
}

.profile-pic {
    border-radius:50%;
    border: 5px solid #f782dd62;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

section p {
    text-align: center;
}

ul {
    color: #333;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.favorite-item {
    text-align: center;
}

.favorite-item img {
    border-radius: 10px;
    border: 3px solid #f782dd62;
    width: 200px;
    height: 200px; 
    object-fit: cover;
}

p {
    color: #333;
    line-height: 1.6;
}
.food-item{
    color:#edb4dc

}
.game-item{
    color:#edb4dc
}
.animal-item{
    color:#edb4dc 
}
.fun-fact-box{
    color: #f782dd62;
    background-color: rgba(241, 168, 226, 0.8);
    font-size: 20px;
    text-shadow: 2px 2px #bef3c5;
    }
.fun-fact-box2{ 
    color:#f782dd62;
    background: rgba(188, 235, 192, 0.8);
    font-size: 20 px;
    text-shadow: 2px 2px #f3f5a2;
    border: radius 10px;

    }
    